@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif, Tahoma;
    --primary: #7FB7A3;   /* sage green */
    --secondary: #F3F7F5;
    --text-dark: #2E3A3A;
    }

body{
    background-color: var(--primary);
    color: var(--text-dark);
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 80px;
}

header .button{
    align-items: center;
    flex-direction:column;
    margin: 10px;
    justify-content: space-evenly;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    background-color: #4F8F7A;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    border-radius: 999px;
    color: white;
    display: inline-block;
    padding: 15px 20px;
    transition: background-color 0.2s ease,
              transform 0.15s ease,
              box-shadow 0.15s ease;

}

header .button:hover {
    background-color:#7FB7A3;  /* slightly darker sage */
    transform: translateY(-1px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

main .hobbies{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin: 50px;
    padding: 50px;
    color: #1F2F2A;
}

main .hobbies p{
    font-size: 23px;
 
}

main .hobbies h2{
    font-size: 50px;
}

main .hobbies h3{
    font-size: 40px;
}

main .books{
    flex-direction: row;
}

main .books img{
    width: 350px;
    height: 350px;
}

main .sports img{
    width: 500px;
    height: 350px;
}
