@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif, Tahoma;
    --bg-primary: #FCFF6C;
    --bg-secondary: #D7FFAB;
    --font-color-primary: #22577a;
    --font-color-secondary: #22577a;
    --backup-color: #eae8ff;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header .name {
    color:var(--bg-primary);
    font-size: 70px; 
    margin: 40px;
}

header .button{
    align-items: center;
    flex-direction:column;
    margin: 10px;
    justify-content: space-evenly;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    background-color: brown;
    border-radius: 100px;
    color: white;
    display: inline-block;
    padding: 15px 20px;

}

header .button:hover {
    background-color: aqua;
}

main {
    padding: 20px;
    margin: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main .education h2{
    margin: 10px;    
}

main .education {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
}

main .about{
    font-size: 20px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

main .info{
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

main .skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 60px;
    gap: 10px;
}

main .skills h2{
    margin: 10px;
    font-size: 30px;
}

main .course-projects{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 60px;
}

main .continued{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 40px;
    gap: 10px;
}






